# Compiled Python files
*.pyc

#Yaml workflow for github actions
*.github

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# PyCharm files
.idea/

# Virtual environment
venv/
